* {
    box-sizing: border-box;
}

body {
    font-family: "Cormorant Garamond", serif;
    background: radial-gradient(circle at center, #2f2f2f 0%, #000000 80%);
    color: white;
    margin: 0;
    min-height: 100vh;
    position: relative;
}

body::before,
body::after {
    content: "";
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: -1;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

body::before {
    background: radial-gradient(circle at center, #8ac697 0%, #28763a 60%, #061c0e 100%);
}

body::after {
    background: radial-gradient(circle at center, #db8383 0%, #950909 60%, #2a0505 100%);
}

header {
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

header p {
    margin-top: 0px;
    margin-left: 0;
    line-height: 1.5em;
    font-size: 1.1em;
    font-family: "Cormorant Garamond", serif;
    color: #848484;
}

h1,
h2 {
    font-family: "Cinzel", serif;
}

p {
    font-family: Arial, sans-serif;
}

main {
    width: 1200px;
    height: 500px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board {
    margin-top: -65px;
    display: grid;
    grid-template-columns: 1fr 400px 1fr;
    gap: 40px;
    width: 100%;
}

.player {
    color:#dbdbdb;
    margin-top: -120px;
    text-align: center;
}

.controls {
    margin-top: -200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dice-area {
    text-align: center;
    margin-bottom: 20px;
    min-height: 180px;
}

#turn-message {
    font-family: "Uncial Antiqua", serif;
    font-size: 1.6em;
    margin-bottom: -1px;
    font-weight: 400;
}

#round-message {
    font-family: "Cormorant Garamond", serif;
    font-size: 1.2em;
    line-height: 1.5em;
    min-height: 48px;
    width: 280px;
    margin: 12px auto 0 auto;
}

.dice-row {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.die {
    width: 150px;
    height: 150px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6.5em;
}

nav {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
    justify-content: center;
}

.bottle {
    width: 220px;
    height: 320px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.fill-0 .liquid  { 
    height: 0px; 
}

.fill-5 .liquid  { 
    height: 35px; 
}

.fill-10 .liquid { 
    height: 70px; 
}

.fill-15 .liquid { 
    height: 105px; 
}

.fill-20 .liquid { 
    height: 140px; 
}

.fill-25 .liquid { 
    height: 175px; 
}

.fill-30 .liquid { 
    height: 210px; 
}

.score {
    margin-top: -15px;
    font-size: 40px;
    font-weight: 600;
    font-family: "Cormorant Garamond", serif;
}

.totalscore-label {
    margin-top: -5px;
}

.totalscore-label p {
    font-family: "Cinzel", serif;
    font-size: 0.9em;
    letter-spacing: 0.05em;
}

.clover {
    margin-top: -35px;
    width: 70px;
    height: 70px;
    animation: floatSmall 5s ease-in-out infinite;
    opacity: 0.2;
}

.active-turn {
    opacity: 1;
}

.bottle {
    width: 150px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.potion-img {
    position: relative;
    z-index: 2;
    display: block;
    width: 150px;
    height: 300px;
}

.liquid {
    position: absolute;
    left: 24px;
    bottom: 18px;
    width: 100px;
    height: 0%;
    max-height: 195px;
    background: linear-gradient(to top, #494cff, #8800ff, #e08bff);
    border-radius: 0 0 30px 30px;
    z-index: 1;
    transition: height 0.4s ease;
}

button {
    padding: 12px 26px;
    font-size: 1.2em;
    font-family: "Cinzel", serif;
    letter-spacing: 0.05em;

    color: #fdf6e3;
    background: linear-gradient(145deg, #8f10ff, #674dff);

    border: none;
    border-radius: 30px;
    cursor: pointer;

    box-shadow:
        0 4px 10px rgba(0,0,0,0.4);

    transition: all 0.25s ease;
}

button:hover {
    background: linear-gradient(145deg, #38096f, #3d17ff);
    transform: translateY(-2px);
    box-shadow: 
        0 8px 18px rgba(0,0,0,0.45);
}

button:disabled {
    opacity: 0.2;
    cursor: default;
}

footer {
    margin-top: -130px;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

footer p {
    font-family: "Cinzel", serif;
    color: #848484;
}

.pagecolor1::before,
.pagecolor1::after {
    opacity: 0;
}

.pagecolor2::before {
    opacity: 1;
}

.pagecolor2::after {
    opacity: 0;
}

.pagecolor3::before {
    opacity: 0;
}

.pagecolor3::after {
    opacity: 1;
}

.floating-banner {
    display: flex;
    /* margin-left: 10px; */
    margin-top: 30px;
    width: 320px;
    height: 170px;
    animation: floatBanner 3s ease-in-out infinite;
}

@keyframes floatBanner {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-12px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes floatSmall {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-2px);
    }

    100% {
        transform: translateY(0px);
    }
}

#play-again-btn {
    display: none;
}

.dice-legend {
    position: fixed;
    top: 35px;
    right: 35px;

    background: #fffaca;
    padding: 8px 6px 12px 8px;

    display: flex;
    flex-wrap: wrap;
    width: 150px;

    box-shadow: 3px 4px 10px rgba(0,0,0,0.35);
    transform: rotate(-3deg);
}

.dice-legend p {
    width: 50%;
    margin: 5px 0px;
    color:black;
}

.legend-symbol {
    font-size: 2em;
    margin: 4px;
}

/* tape */
.dice-legend::before {
    content: "";
    position: absolute;

    top: -13px;
    left: 45px;

    width: 65px;
    height: 25px;

    background: rgba(255,255,255,0.5);
    transform: rotate(-5deg);
    border-radius: 1px;
}