body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: black;
}

h1 {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  z-index: 3;
  font-family: "Just Me Again Down Here", cursive;
  font-size: 3.5em;
}

.image {
  position: fixed;
  width: 1200px;
  height: 750px;
  background: url("images/figurines.jpg") center/cover no-repeat;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  position: fixed;
  width: 1200px;
  height: 750px;
  background: black;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  backdrop-filter: blur(8px);
}

