body {
    background: url("images/deskbackground.jpg") center top no-repeat, #0b1411;
}

h1 {
    color: aliceblue;
    background: rgb(1, 46, 1);
    margin: 50px auto;
    max-width: 600px;
    border-radius: 50px;
    text-align: center;
    padding: 15px;
}

a {
    color: red;
}

article {
    background-color: aliceblue;
    padding: 20px 50px;
    box-shadow: 10px 10px 0 10px #E3E3D4;
    width: 420px;
}

p {
    line-height: 1.6em;
    font-size: 1.2em;
}

p, time {
    color:rgb(37, 0, 0);
}

h2 {
    text-align: center;
}

nav {
    text-align: center;
    text-decoration: none;
}

nav a{
    font-size: 1.5em;
}
nav a:hover {
    color:antiquewhite;
}

.posts {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 40px;
}


.floating-banner{
    animation: float 3s ease-in-out infinite;
}
@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-12px);
    }
    100% {
        transform: translateY(0px);
    }
}

img {
    display: block;
    margin: 0 auto;
}

a{
    color: red;
    text-decoration: none;
}
